SBProject/Resources/dbRefPaises_update.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/dbRefPaises_update" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/dbRefPaises_update" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="dbRefPaises_updateInput" type="dbRefPaises_updateInput"/>
   <xs:complexType name="dbRefPaises_updateInput">
      <xs:sequence>
         <xs:element name="pais" type="xs:string" nillable="true"/>
         <xs:element name="id_pais" type="xs:int" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>