SBProject/Resources/dbRefPaises_delete.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/dbRefPaises_delete" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/dbRefPaises_delete" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="dbRefPaises_deleteInput" type="dbRefPaises_deleteInput"/>
   <xs:complexType name="dbRefPaises_deleteInput">
      <xs:sequence>
         <xs:element name="id" type="xs:int" nillable="true"/>
         <xs:element name="pais" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>